sudo: required
language: generic

services:
  - docker

before_install:
  - docker build -t herrdani/first-docker-project -f Dockerfile.dev .

script:
  - docker run -e CI=true herrdani/first-docker-project npm run test

deploy:
  provider: elasticbeanstalk
  region: "eu-central-1"
  app: "first-docker-project"
  env: "Firstdockerprojectenv-env"
  bucket_name: "elasticbeanstalk-eu-central-1-557666194127"
  bucket_path: "first-docker-project"
  on:
    branch: main
  acces_key_id: $AWS_ACCESS_KEY
  secret_access_key:
    secure: "$AWS_SECRET_KEY"
